.l-bg-orange-dark {
    background: linear-gradient(to right, #a86008, #ffba56) !important;
    color: rgb(20, 1, 1);
}

/* card my-5 {
    background: linear-gradient(to right, #a86008, #ffba56) !important;
    color: rgb(20, 1, 1);
} */