<div class="row w-100 h-100 align-items-center justify-content-center text-center">

    <div class="col-lg-6 align-self-baseline my-2">
      <img id="mainLogo"  src="https://img.freepik.com/premium-vector/seamless-background-with-different-cartoon-musical-insrtuments-music-art-colors-are-separate-groups_300579-157.jpg?w=2000">
      <hr>
      <button *ngIf="!isAuthenticated()" type="button" class="btn-grad"  routerLink="/register">Create new account</button>
      <div *ngIf="isAuthenticated()">Welcome!</div>
    </div>
  </div>
         
 